.content {
	padding: 15px 20px;

	@media (min-width: $tablet-size-land) {
		padding: 15px 70px;
	}

	&__line {
		height: 2px;
		background-color: #dde2e7;
		margin: 15px 0;
	}

	&__column {
		display: flex;
		flex-direction: column;

		@media (min-width: $mobile-size-land) {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}
			
	}

	&__person {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $tablet-size-land) {
			justify-content: space-between;
		}
	}
}

#chart {
  width: 100%;
  margin: 0;
	background-color: #fff;
}