.search {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__submit {
		width: 70px;
		height: 70px;
		background: url(/images/icons/search.svg) no-repeat center;
		background-size: 25px;
		cursor: pointer;
	}

	&__text {
		height: 70px;
	}
}